<style>
    .decode-text {
        width: 100%;
        margin-top: -150px;
        margin-bottom: 198px;
        font-size: 42px;
        text-align: center;
    }
</style>

<div class="decode-text">
    <div class="text-animation h1 state-1 state-2 state-3">V</div>
    <div class="text-animation h1 state-1 state-2 state-3">A</div>
    <div class="text-animation h1 state-1 state-2 state-3">R</div>
    <div class="text-animation h1 state-1 state-2 state-3">U</div>
    <div class="text-animation h1 state-1 state-2 state-3">N</div>
    <div class="text-animation h1 state-1 state-2 state-3">A</div>
    <div class="space"></div>
    <br>
    <div class="text-animation h2 state-1 state-2 state-3">O</div>
    <div class="text-animation h2 state-1 state-2 state-3">S</div>
    <div class="text-animation h2 state-1 state-2 state-3">I</div>
    <div class="text-animation h2 state-1 state-2 state-3">N</div>
    <div class="text-animation h2 state-1 state-2 state-3">T</div>
    <div class="space"></div>
    <div class="text-animation h2 state-1 state-2 state-3">S</div>
    <div class="text-animation h2 state-1 state-2 state-3">E</div>
    <div class="text-animation h2 state-1 state-2 state-3">A</div>
    <div class="text-animation h2 state-1 state-2 state-3">R</div>
    <div class="text-animation h2 state-1 state-2 state-3">C</div>
    <div class="text-animation h2 state-1 state-2 state-3">H</div>
    <div class="space"></div>
    <div class="text-animation h2 state-1 state-2 state-3">E</div>
    <div class="text-animation h2 state-1 state-2 state-3">N</div>
    <div class="text-animation h2 state-1 state-2 state-3">G</div>
    <div class="text-animation h2 state-1 state-2 state-3">I</div>
    <div class="text-animation h2 state-1 state-2 state-3">N</div>
    <div class="text-animation h2 state-1 state-2 state-3">E</div>
    <div class="space"></div>
</div>