<div class="search-container">
    <form id="myForm" action="https://www.google.com/search?q=" method="get" autocomplete="off">

        <div class="search-bar">
            <i class="fas fa-search"></i>
            <input id="search-input" class="search-input" type="text" name="q">
        </div>

        <div class="select-button">
            <button type="button" name="option" value="https://www.startpage.com/do/search?q="
                class="selected">Start Page</button>
            <button type="button" name="option" value="https://duckduckgo.com/?q=">DuckDuckGo</button>
            <button type="button" name="option" value="https://search.brave.com/search?q=">Brave</button>
            <button type="button" name="option" value="https://search.ononoki.org/search?q=">SearX</button>
            <button type="button" name="option" value="https://www.google.com/search?q=">Google</button>
            <!-- <button type="button" name="option" value="https://metager.org/meta/meta.ger3?eingabe=">Metager</button> NEED TO CHANGE SEARCH TYPE TO APPEND -->
            <!-- <button type="button" name="option" value="https://wg.vern.cc/search?q=">Whoogle</button> OFFLINE -->
        </div>

        <div class="search-button">
            <button type="submit" class="submit" id="mainButton"></button> <!-- 'SEARCH' text removed -->
        </div>

    </form>
</div>
