* {
  font-family: "Share Tech Mono", "Aptos Display", "Century Gothic", monospace;
  box-sizing: border-box;
  margin: 0;
}

.body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  background-color: black;
  overflow: hidden;
}

h1 {
  color: white;
  margin-bottom: 10px;
}



@import url(https://fonts.googleapis.com/css?family=Share+Tech+Mono);

.decode-text {
  width: 100%;
  margin-top: -128px;
  margin-bottom: 128px;
  font-size: 30px;
  text-align: center;
}

.space {
  display: inline-block;
  width: 2px;
}

.h1 {
  font-family: "Aptos Display", "Century Gothic", monospace;

  font-size: 48px;
}

.h2 {
  font-family: "Aptos Display", "Century Gothic", monospace;

  font-size: 16px;
}

.text-animation {
  display: inline-block;
  position: relative;
  color: transparent;
  text-transform: uppercase;
}

.text-animation:before {
  content: "";
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  background: white;
  width: 0;
  height: 19.2px;
  -webkit-transform: translate(-50%, -55%);
  -ms-transform: translate(-50%, -55%);
  transform: translate(-50%, -55%);
}

.text-animation.state-1:before {
  width: 1px;
}

.text-animation.state-2:before {
  width: 8px;
}

.text-animation.state-3 {
  color: white;
}

.text-animation.state-3:before {
  width: 0;
}

#refresh {
  position: absolute;
  top: 20px;
  left: 20px;
  cursor: pointer;
}



.animation-wrapper {
  width: 20%;
  height: 35%;
}

.sphere-animation {
  position: flex;
  top: 50%;
  left: 50%;
  width: 520px;
  height: 520px;
  margin: -100px 0 0 -290px;
}

.sphere path {
  fill: url(#sphereGradient);
  backface-visibility: hidden;
}

@media (min-width: 500px) {
  .sphere path {
    stroke-width: .4px;
  }
}

@media screen and (max-width: 500px) {
  .space {
    display: block;
  }

  .animation-wrapper {
    width: 90%;
    padding-bottom: 40%;
  }

  .nr-hide {
    display: none;
  }
}


.dark-content {
  background-color: black;
  position: relative;
  min-height: 100vh;
  width: 100%;
}

.light-content {
  background-color: white;
  position: relative;
  min-height: 100vh;
  width: 100%;
}

.wave {
  position: relative;
  height: 300px;
}

@media screen and (max-width: 500px) {
  .wave {
    height: 100px;
  }
}

.wave img {
  position: absolute;
  max-width: 100%;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}



::-webkit-scrollbar {
  width: 0px;
}

::-webkit-scrollbar-track {
  background: #000;
}

::-webkit-scrollbar-thumb {
  background: #0F0F0F;
  border-radius: 2px;
}

.text-content {
  width: 70%;
  margin: 0 auto;
  z-index: 100000;
  font-size: 1.4em;
  overflow: hidden;
  font-family: 'Share Tech Mono', monospace;
}

.text-content * {
  font-family: 'Share Tech Mono', monospace;
}

.btn {
  background-color: rgb(253, 0, 63);
  padding: 15px;
  border-radius: 10px;
  color: #000;
  text-decoration: none;
  border: 1px solid rgb(253, 0, 63);
  box-shadow: 0px 5px 10px px #FFF;
}



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none !important;
}

body {
  background-color: rgb(0, 0, 0);
  height: 100vh;
  width: 100vw;
  /* Disable text selection */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

#github {
  padding-top: 1em;
  margin-top: 1em;
  max-width: 80%;
  max-height: 80%;
}

#github-footer {
  position: fixed;  /* Fixed position relative to the viewport */
  right: 20px;      /* Distance from the right edge of the viewport */
  bottom: 0px;     /* Distance from the bottom edge of the viewport */
  width: 50px;      /* Optional: Adjust the width as necessary */
  height: auto;     /* Maintains the aspect ratio of the SVG */
  align-items: start;
  justify-self: start;
  align-items: self-start;
  padding-top: 1em;
  margin-top: 1em;
  max-width: 120%;
  max-height: 120%;
}

#version {
  color: #525252;
  position: fixed;  /* Fixed position relative to the viewport */
  left: 20px;      /* Distance from the right edge of the viewport */
  bottom: 0px;     /* Distance from the bottom edge of the viewport */
  width: 400px;      /* Optional: Adjust the width as necessary */
  height: auto;     /* Maintains the aspect ratio of the SVG */
  align-items: self-start;
  justify-self: self-start;
  align-items: self-start;
  padding-top: 1em;
  margin-top: 1em;
  max-width: 120%;
  max-height: 120%;
}

.navbar ul {
  height: 150%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 14px;
}

.navbar ul li {
  margin-left: 15px;
}

.navbar ul li a {
  color: black;
}

.link:hover {
  text-decoration: underline !important;
}

.circle-shadow {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle-shadow:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.circle-shadow svg {
  fill: #5f6368;
  height: 30px;
}

.menu-icon,
.user-icon span {
  font-size: 15px;
}

.user-icon span {
  color: white;
}

.user-icon {
  background-color: rgb(253, 0, 63);
  height: 35px;
  width: 35px;
  border-radius: 50%;
}

/* Main Content */
.content-section {
  width: 100vw;
  height: 100vh;
}

.content-wrapper {
  width: 100%;
  padding-bottom: 130px;
}

.search-bar {
  border: 1px solid rgb(253, 0, 63);
  background-color: black;
  width: 830px;
  height: 55px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  padding-left: 15px;
}

.search-bar:hover {
  background-color: black;
  box-shadow: 0 1px 15px rgb(253, 0, 63);
  border-color: rgb(253, 0, 63);
}

.search-bar i {
  font-size: 15px;
  color: rgb(253, 0, 63);
  margin-right: 15px;
}

.search-bar input {
  background-color: black;
  color: white;
  flex-grow: 1;
  height: 30px;
  margin-right: 15px;
  font-size: 16px;
  border: none;
}

.search-bar .mic_svg {
  height: 20px;
  margin-right: 15px;
}

.search-bar input:focus {
  outline: none;
}

/* CSS for always blinking cursor */
@keyframes blink {
  from, to { border-color: transparent }
  50% { border-color: black }
}
.search-input:focus { animation: blink 1s step-end infinite; }

.search-btns {
  margin-top: 20px;
}

.search-btns button {
  background-color: black;
  color: white;
  border: 0px;
  font-size: 1.1em;
  height: 50px;
  width: 100px;
  text-align: center;
  cursor: pointer;
}

.search-btns button:hover {
  color: #fb040c;
  border: 0px;
  background-color: black;
}

/* Basic styling for buttons */
.select-button button {
  background-color: black;
  border: 1px;
  color:#5b6063;
  font-family: arial, sans-serif;
  font-size: 1em;
  margin: 5px 5px 5px 5px;
  line-height: 27px;
  width: 150px;
  height: 55px;
  text-align: center;
  cursor: pointer;
}

/* Styling for the selected button */
.select-button button.selected {
  background-color: black;
  color: rgb(253, 0, 63);

  .google-search-btn {
    width: 120px;
  }

  .lucky-search-btn {
    width: 140px;
  }

  .languages {
    margin-top: 20px;
    font-size: 14px;
  }

  .languages a {
    color: #1a0dab;
    padding: 0 3px;
  }

  .languages a:hover {
    text-decoration: underline !important;
  }


  @media only screen and (max-width: 650px) {

    /* Navbar */
    .navbar ul {
      font-size: 10px;
    }

    .menu-icon,
    .user-icon span {
      font-size: 14px;
    }

    .circle-shadow {
      height: 30px;
      width: 30px;
    }

    /* Search Bar */
    .search-bar {
      width: 90%;
      height: 35px;
    }

    .search-bar i {
      font-size: 14px;
    }

    /* Buttons */
    .search-btns button {
      height: 30px;
      font-size: 12px;
    }

    .google-search-btn {
      width: 100px;
    }

    .lucky-search-btn {
      width: 120px;
    }

  /* Style for the form centering container */


  /* Style for the select buttons */
  .select-button {
    text-align: center;
    /* Center-align the buttons */
    margin-top: 20px;
    /* Add spacing at the top */
  }

  /* Style for the name above each select button */
  .select-button-label {
    font-weight: bold;
  }

  /* Style for the wide space */
  .space {
    margin: 0 20px;
    /* Adjust the space width as needed */
  }


  HTML CSS JSResult Skip Results Iframe
  /* Some Custom Styles 
--------------------------- */

  body {
    font-family: "Inter", sans-serif;
    text-align: center;
    line-height: 1.4;
  }

  h1 {
    font-weight: 900;
    margin-top: 0;
  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100%;
    position: absolute;
    top: 0;
  }

  p {
    max-width: 420px;
  }

  a {
    color: #333;
  }

  /* Light Mode Button Styles
--------------------------- */

  .light-mode-button {
    background: 0;
    border: 0;
    box-sizing: border-box;
    cursor: pointer;
    height: 40px;
    width: 100px;
    position: relative;
    border: 1px solid rgba(255, 255, 255, 0);
    margin-top: 20px;
  }

  .light-mode-button:focus {
    outline: none;
    /* Not ideal for accessibility */
  }

  .light-mode-button span:nth-child(1) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 40px;
    border-radius: 20px;
    background-color: #d6d7db;
    box-shadow: inset 1px 1px 3px 0 rgb(0 0 0 / 40%);
    transition: 0.3s;
  }

  .light-mode-button span:nth-child(2) {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 30px;
    height: 30px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 1px 1px 2px 0 rgb(0 0 0 / 40%);
    transition: 0.3s;
  }

  /* Light & Dark Mode Styles
  --------------------------- */

  body {

    transition: background-color 0.3s;
  }

  body[light-mode="dark"] {
    background-color: #141516;
    color: #ced4e2;
  }

  body[light-mode="dark"] .light-mode-button span:nth-child(1) {
    background-color: #ced4e2;
    color: #141516;
  }

  body[light-mode="dark"] .light-mode-button span:nth-child(2) {
    left: 65px;
    background-color: #141516;
  }

  body[light-mode="dark"] a {
    color: #141516;
  }

  /* Full height layout with Flexbox centering */
  html, body {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; /* This centers text horizontally */
    background: #f3f4f6; /* Light gray background */
    font-family: 'Arial', sans-serif; /* Example font */