a {
    color: rgb(253, 0, 63);
    text-decoration: none;
}

a:hover {
    color: rgb(253, 0, 63);
}

nav {
    display: flex;
    margin-top: 10px;
    background: transparent;
    border-radius: 20px;
    justify-content: left;
}

.menu {
    display: block;
    
}

.menu li {
    display: inline-block;
    position: relative;
    z-index: 100;
}

.menu li:first-child {
    margin-left: 0;
}

.menu li a {
    font-weight: 600;
    text-decoration: none;
    padding: 15px 50px;
    display: block;
    color: rgb(138, 138, 138);
    transition: all 0.2s ease-in-out 0s;
}

.menu li a:hover,.menu li:hover>a {
    background: transparent;
    color: rgb(253, 0, 63);
}

.menu ul {
    visibility: hidden;
    opacity: 0;
    margin: 0;
    padding: 0;
    width: 350px;
    position: absolute;
    left: 0px;
    background: black;
    border-radius: 10px;
    z-index: 99;
    transform: translate(0,20px);
    transition: all 0.2s ease-out;
}

.menu ul:after {
    bottom: 100%;
    left: 20%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    margin-left: -6px;
}

.menu ul li {
    display: block;
    float: none;
    background: none;
    margin: 0;
    padding: 0;
}

.menu ul li a {
    font-size: 12px;
    font-weight: normal;
    display: block;
    color: white;
    border-radius: 10px;
    background: transparent;
}

.menu ul li a:hover,.menu ul li:hover>a {
    background: rgb(253, 0, 63);
    color: #fff;
}

.menu li:hover>ul {
    visibility: visible;
    opacity: 1;
    transform: translate(0,0);
    
}

.menu ul ul {
    left: 270px;
    top: 0px;
    visibility: hidden;
    opacity: 0;
    transform: translate(20px,20px);
    transition: all 0.2s ease-out;
    margin-left: 90px;
}

.menu ul ul:after {
    left: -6px;
    top: 10%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-radius: 10px;
}

.menu li>ul ul:hover {
    visibility: visible;
    opacity: 1;
    transform: translate(0,0);
}

.responsive-menu {
    display: none;
    width: 100%;
    padding: 20px 15px;
    background: #374147;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
}

.responsive-menu:hover {
    background: #374147;
    color: #fff;
    text-decoration: none;
}

a.homer {
    background: transparent;
    color: rgb(253, 0, 63);
}

@media (min-width: 768px) and (max-width: 979px) {
    .mainWrap {
        width: 768px;
    }

    .menu ul {
        top: 37px;
    }

    .menu li a {
        font-size: 12px;
    }

    a.homer {
        background: #374147;
    }
}

@media (max-width: 767px) {
    .mainWrap {
        width: auto;
        padding: 50px 20px;
    }

    .menu {
        display: none;
    }

    .responsive-menu {
        display: block;
        margin-top: 100px;
    }

    nav {
        margin: 0;
        background: none;
    }

    .menu li {
        display: block;
        margin: 0;
    }

    .menu li a {
        background: #fff;
        color: #797979;
    }

    .menu li a:hover,.menu li:hover>a {
        background: rgb(253, 0, 63);
        color: #fff;
    }

    .menu ul {
        visibility: hidden;
        opacity: 0;
        top: 0;
        left: 0;
        width: 100%;
        transform: initial;
    }

    .menu li:hover>ul {
        visibility: visible;
        opacity: 1;
        position: relative;
        transform: initial;
    }

    .menu ul ul {
        left: 0;
        transform: initial;
    }

    .menu li>ul ul:hover {
        transform: initial;
    }
}

@media (max-width: 480px) {
}

@media (max-width: 320px) {
}

* {
  font-family: "Red Hat Display", "Bebas Neue", "Share Tech Mono", "Aptos Display", "Century Gothic", monospace;
  box-sizing: border-box;
  margin: 0;
}

.body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  background-color: black;
  overflow: hidden;
}

h1 {
  color: white;
  margin-bottom: 10px;
}



@import url(https://fonts.googleapis.com/css?family=Share+Tech+Mono);
@import url(https://fonts.googleapis.com/css?family=Bebas+Neue);
@import url(https://fonts.googleapis.com/css?family=Red+Hat+Display);

.decode-text {
  width: 100%;
  margin-top: -360px;
  margin-bottom: 150px;
  margin-left: 25px;
  font-size: 35px;
  text-align: center;
}

.space {
  display: inline-block;
  width: 0px;
}

.h1 {
  font-size: 64px;
}

.h2 {
  font-size: 18px;
  font-weight: 900;
}

.text-animation {
  display: inline-block;
  position: relative;
  color: transparent;
  text-transform: uppercase;
}

.text-animation:before {
  content: "";
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  background: white;
  width: 0;
  height: 40px;
  -webkit-transform: translate(-50%, -55%);
  -ms-transform: translate(-50%, -55%);
  transform: translate(-50%, -55%);
}

.text-animation.state-1:before {
  width: 1px;
}

.text-animation.state-2:before {
  width: 10px;
}

.text-animation.state-3 {
  color: white;
}

.text-animation.state-3:before {
  width: 0;
}

#refresh {
  position: absolute;
  top: 20px;
  left: 20px;
  cursor: pointer;
}

/*
.animation-wrapper {
  width: 20%;
  height: 35%;
} */

.sphere-animation {
  position: flex;
  top: 50%;
  left: 50%;
  width: 420px;
  height: 520px;
}

.sphere path {
  fill: url(#sphereGradient);
  backface-visibility: hidden;
}

@media (min-width: 500px) {
  .sphere path {
    stroke-width: .4px;
  }
}

@media screen and (max-width: 500px) {
  .space {
    display: block;
  }

  .animation-wrapper {
    width: 90%;
    padding-bottom: 40%;
  }

  .nr-hide {
    display: none;
  }
}


.dark-content {
  background-color: black;
  position: relative;
  min-height: 100vh;
  width: 100%;
}

.light-content {
  background-color: white;
  position: relative;
  min-height: 100vh;
  width: 100%;
}

.wave {
  position: relative;
  height: 300px;
}

@media screen and (max-width: 500px) {
  .wave {
    height: 100px;
  }
}

.wave img {
  position: absolute;
  max-width: 100%;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}



::-webkit-scrollbar {
  width: 0px;
}

::-webkit-scrollbar-track {
  background: #000;
}

::-webkit-scrollbar-thumb {
  background: #0F0F0F;
  border-radius: 2px;
}

.text-content {
  width: 70%;
  margin: 0 auto;
  z-index: 100000;
  font-size: 1.4em;
  overflow: hidden;
  font-family: 'Red Hat Display', 'Bebas Neue', 'Share Tech Mono', monospace;
}

.text-content * {
  font-family: 'Red Hat Display', 'Bebas Neue', 'Share Tech Mono', monospace;
}

.btn {
  background-color: rgb(253, 0, 63);
  padding: 15px;
  border-radius: 10px;
  color: #000;
  text-decoration: none;
  border: 1px solid rgb(253, 0, 63);
  box-shadow: 0px 5px 10px px #FFF;
}



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none !important;
}

body {
  background-color: rgb(0, 0, 0);
  height: 100vh;
  width: 100vw;
  /* Disable text selection */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

#github {
  padding-top: 1em;
  margin-top: 1em;
  max-width: 80%;
  max-height: 80%;
}

#github-footer {
  position: fixed;  /* Fixed position relative to the viewport */
  right: 20px;      /* Distance from the right edge of the viewport */
  bottom: 0px;     /* Distance from the bottom edge of the viewport */
  width: 50px;      /* Optional: Adjust the width as necessary */
  height: auto;     /* Maintains the aspect ratio of the SVG */
  align-items: start;
  justify-self: start;
  align-items: self-start;
  padding-top: 1em;
  margin-top: 1em;
  max-width: 120%;
  max-height: 120%;
}

.image-container {
  display: inline-block;
  position: relative;
  padding: 20px;
}

.image-container:hover {
  pointer-events: auto; /* Allow hover effects even when hovering over padding */
}

.image-container:hover #flag {
  opacity: 0; /* Make the flag disappear on hover */
}

.image-container:hover #version {
  opacity: 1; /* Make the version appear on hover */
}

#version {
  font-size: 19px;
  display: none;
  color: #525252;
  position: fixed;  /* Fixed position relative to the viewport */
  left: 20px;      /* Distance from the right edge of the viewport */
  bottom: 10px;     /* Distance from the bottom edge of the viewport */
  width: 400px;      /* Optional: Adjust the width as necessary */
  height: auto;     /* Maintains the aspect ratio of the SVG */
  align-items: self-start;
  justify-self: self-start;
  align-items: self-start;
  padding-top: 1em;
  margin-top: 1em;
  max-width: 120%;
  max-height: 120%;
  opacity: 0; /* Initially hide the version */
  transition: opacity 0.3s ease;
}

#flag {
  color: #525252;
  position: fixed;  /* Fixed position relative to the viewport */
  left: 20px;      /* Distance from the right edge of the viewport */
  bottom: 30px;     /* Distance from the bottom edge of the viewport */
  width: 280px;      /* Optional: Adjust the width as necessary */
  height: auto;     /* Maintains the aspect ratio of the SVG */
  align-items: self-start;
  justify-self: self-start;
  align-items: self-start;
  padding-top: 1em;
  margin-top: 1em;
  max-width: 70%;
  max-height: 200%;
  transition: opacity 0.3s ease;
  animation: glitch 3s forwards;
}

#flag:hover + #version {
  display: block; /* Display the paragraph when the image is hovered */
  margin-bottom: 40px;
}

@keyframes glitch {
  0%, 20%, 50%, 80%, 100% {
      opacity: 1;
  }
  10%, 30%, 40%, 60%, 70% {
      opacity: 0;
  }
}

.navbar ul {
  height: 150%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 14px;
}

.navbar ul li {
  margin-left: 15px;
}

.navbar ul li a {
  color: black;
}

.link:hover {
  text-decoration: underline !important;
}

.circle-shadow {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle-shadow:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.circle-shadow svg {
  fill: #5f6368;
  height: 30px;
}

.menu-icon,
.user-icon span {
  font-size: 15px;
}

.user-icon span {
  color: white;
}

.user-icon {
  background-color: rgb(253, 0, 63);
  height: 35px;
  width: 35px;
  border-radius: 50%;
}

/* Main Content */
.content-section {
  width: 100vw;
  height: 100vh;
}

.content-wrapper {
  width: 100%;
  padding-bottom: 130px;
}

.search-bar {
  border: 2px solid rgb(253, 0, 63);
  background-color: black;
  width: 830px;
  height: 65px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  padding-left: 15px;
  margin-top: 20px;
}

.search-bar:hover {
  background-color: black;
  box-shadow: 3px 3px 30px rgb(253, 0, 63);
  border-color: rgb(253, 0, 63);
}

.search-bar i {
  font-size: 15px;
  color: rgb(253, 0, 63);
  margin-right: 15px;
}

.search-bar input {
  background-color: black;
  color: white;
  flex-grow: 1;
  height: 30px;
  margin-right: 18px;
  font-size: 16px;
  text-transform: uppercase;
  border: none;
}

.search-bar .mic_svg {
  height: 20px;
  margin-right: 15px;
}

.search-bar input:focus {
  outline: none;
}

.search-button {
  margin-top: 20px;
  text-align: center;
}

.search-button button {
  background-color: black;
  color: white;
  border: 0px;
  font-size: 20px;
  height: 50px;
  width: 100px;
  text-align: center;
  cursor: pointer;
}

.search-button button:hover {
  border: 0px;
  background-color: black;
  font-weight: 900;
  font-size: 24px;
}

/* Basic styling for buttons */
.select-button button {
  background-color: transparent;
  border: 1px;
  color:rgb(138, 138, 138);
  font-family: arial, sans-serif;
  font-size: 12px;
  margin: 5px 5px 5px 5px;
  margin-top: 30px;
  margin-left: 10px;
  width: 80px;
  text-align: center;
  cursor: pointer;
}

/* Styling for the selected button */
.select-button button.selected {
  background-color: transparent;
  color: rgb(253, 0, 63);

  .google-search-btn {
    width: 120px;
  }

  .lucky-search-btn {
    width: 140px;
  }

  .languages {
    margin-top: 20px;
    font-size: 14px;
  }

  .languages a {
    color: #1a0dab;
    padding: 0 3px;
  }

  .languages a:hover {
    text-decoration: underline !important;
  }


  @media only screen and (max-width: 650px) {

    /* Navbar */
    .navbar ul {
      font-size: 10px;
    }

    .menu-icon,
    .user-icon span {
      font-size: 14px;
    }

    .circle-shadow {
      height: 30px;
      width: 30px;
    }

    /* Search Bar */
    .search-bar {
      width: 90%;
      height: 35px;
    }

    .search-bar i {
      font-size: 14px;
    }

    /* Buttons */
    .search-button button {
      height: 30px;
      font-size: 12px;
    }

    .google-search-btn {
      width: 100px;
    }

    .lucky-search-btn {
      width: 120px;
    }

  /* Style for the form centering container */


  /* Style for the select buttons */
  .select-button {
    text-align: center;
    /* Center-align the buttons */
    margin-top: 20px;
    /* Add spacing at the top */
  }

  /* Style for the name above each select button */
  .select-button-label {
    font-weight: bold;
  }

  /* Style for the wide space */
  .space {
    margin: 0 20px;
    /* Adjust the space width as needed */
  }


  HTML CSS JSResult Skip Results Iframe
  /* Some Custom Styles 
--------------------------- */

  body {
    font-family: "Inter", sans-serif;
    text-align: center;
    line-height: 1.4;
  }

  h1 {
    font-weight: 900;
    margin-top: 0;
  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100%;
    position: absolute;
    top: 0;
  }

  p {
    max-width: 420px;
  }

  a {
    color: #333;
  }

  /* Light Mode Button Styles
--------------------------- */

  .light-mode-button {
    background: 0;
    border: 0;
    box-sizing: border-box;
    cursor: pointer;
    height: 40px;
    width: 100px;
    position: relative;
    border: 1px solid rgba(255, 255, 255, 0);
    margin-top: 20px;
  }

  .light-mode-button:focus {
    outline: none;
    /* Not ideal for accessibility */
  }

  .light-mode-button span:nth-child(1) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 40px;
    border-radius: 20px;
    background-color: #d6d7db;
    box-shadow: inset 1px 1px 3px 0 rgb(0 0 0 / 40%);
    transition: 0.3s;
  }

  .light-mode-button span:nth-child(2) {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 30px;
    height: 30px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 1px 1px 2px 0 rgb(0 0 0 / 40%);
    transition: 0.3s;
  }

  /* Light & Dark Mode Styles
  --------------------------- */

  body {

    transition: background-color 0.3s;
  }

  body[light-mode="dark"] {
    background-color: #141516;
    color: #ced4e2;
  }

  body[light-mode="dark"] .light-mode-button span:nth-child(1) {
    background-color: #ced4e2;
    color: #141516;
  }

  body[light-mode="dark"] .light-mode-button span:nth-child(2) {
    left: 65px;
    background-color: #141516;
  }

  body[light-mode="dark"] a {
    color: #141516;
  }

  /* Full height layout with Flexbox centering */
  html, body {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; /* This centers text horizontally */
    background: #f3f4f6; /* Light gray background */
    font-family: 'Arial', sans-serif; /* Example font */
  }}}